---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<div class="px-4 pt-6">
		<div
			class="flex flex-col justify-center items-center px-6 mx-auto h-screen xl:px-0 dark:bg-gray-900"
		>
			<h1
				class="mb-3 text-2xl font-bold leading-tight text-gray-900 sm:text-4xl lg:text-5xl dark:text-white"
			>
				Under Maintenance
			</h1>
		</div>
	</div>
</Layout>

<style></style>
